<launch>
  <include file="$(find rm_description)/launch/sentry.launch">
    <arg name="load_chassis" value="true"/>
    <arg name="roller_type" value="realistic"/>
    <arg name="paused" value="false"/>
  </include>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/controller/joint_states" />
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>
  <rosparam file="$(find sentry_chassis_controller)/config/controller.yaml" command="load" ns="controller"/>
  <rosparam file="$(find sentry_chassis_controller)/config/teleop_twist_keyboard.yaml" command="load" ns="teleop_twist_keyboard"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="
        controller/sentry_chassis_controller
        controller/joint_state_controller    
  "/>
  <!-- load teleop_twist_keyboard node -->
  <node name="teleop_twist_keyboard" pkg="sentry_chassis_controller" type="teleop_twist_keyboard" launch-prefix="gnome-terminal -e"/>
  <!-- ========== RViz Visualization ========== -->
  <!-- Arguments to control RViz -->
  <arg name="launch_rviz" default="false" />
  <arg name="rviz_config" default="$(find sentry_chassis_controller)/config/sentry.rviz" />
  
  <!-- Launch RViz with configuration file -->
  <group if="$(arg launch_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(arg rviz_config)" 
          required="false" 
          output="screen"
          respawn="true">
      <param name="use_sim_time" value="false" />
    </node>
  </group>
</launch>
